.btnc {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.6;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-pink {
  color: #fff;
  background-color: #D2489E;
  border-color: #D2489E;
}
.btn-pink:hover {
  color: #fff;
  background-color: #A62877;
  border-color: #A62877;
}

.btn-blue {
  color: #fff;
  background-color: #4236D8;
  border-color: #4236D8;
}
.btn-blue:hover {
  color: #fff;
  background-color: #261E95;
  border-color: #261E95;
}

.bg-grand {
  background-image: linear-gradient(to left, #D2489E, #4236D8);
}

.rounded-1rem {
      border-radius: 1rem !important;
}
.jumbotroncus {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
.rounded-topc{
  border-radius: 1rem 1rem 0 0;
}

.rounded-bot{
  border-radius: 0 0 1rem 1rem;
}

.boxas {
  display: flex;
}

.boxas1 {
  flex: 1;
}